/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/audios/
/public/avatar/autores
/public/avatar/jardines
/public/avatar/usr
/public/storage
/public/cedulas/
/public/img/
/public/img_basura/
/public/jardines/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
BD_wcvp_taxon_kew.csv 
